
html,body{
    background:#FFFFFF;
    font-family: 'Lato', sans-serif;
}
 .navbar{
    display: flex;
}
.navbar-nav{
    justify-content: right;
    float: right;
} 
.nav-item{
    margin: 10px;
}
figure {
    overflow: auto;
    margin-left: 10px;
}

figure img{
    float: left;
    margin: 0 1em 1em 0;
    height: 80px;
    width: 80px;
}


.profile-name{
    font-weight: bold;
    font-size: 22px;
}

.about{
    font-size: 16px;
}

.user-stats{
    font-size: 16px;
    font-weight: bold;
}
.comment-brand{
    margin-left: 10px;
}
.comment-header{
    display: flex;
    flex-direction: row;
}
.comment-pix{
    height: 48px;
    width: 48px;
}
.brand-title{
    font-size: 16px;
    line-height: 19px;
    color: rgba(17, 17, 17, 0.75);
}
.brand-heading{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}
.timestamp{
    font-size: 16px;
    line-height: 26px;
    color: rgba(17, 17, 17, 0.5);
}
.brand-texts{
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(17, 17, 17, 0.75);
}

.count{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}
.reactions{
    width: 67%;
}
.icon{
    margin: 4px;
}
.reply{
    margin-left: 20px;
}
.tag{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    float: right;
    color: rgba(17, 17, 17, 0.35);

}

.figure2 {
    height: 48px;
    width: 48px;
}

.profile-name{
    font-weight: bold;
    font-size: 18px;
    color: rgba(17, 17, 17, 0.75);

}
