
html,body{
    background:#FFFFFF;
    font-family: 'Lato', sans-serif;
}
 .navbar{
    display: flex;
}
.navbar-nav{
    justify-content: right;
    float: right;
} 
.nav-item{
    margin: 10px;
}
figure {
    overflow: auto;
    margin-left: 10px;
}

figure img{
    float: left;
    margin: 0 1em 1em 0;
    height: 80px;
    width: 80px;
}
.topnav a:hover {
    border-bottom: 3px solid #871E99;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #871E99;
  }
.profile-name{
    font-weight: bold;
    font-size: 22px;
}

.about{
    font-size: 16px;
}

.user-stats{
    font-size: 16px;
    font-weight: bold;
}
.comment-brand{
    margin-left: 10px;
}
.comment-header{
    display: flex;
    flex-direction: row; 

}
.comment-pix{
    height: 48px;
    width: 48px;
}
.brand-title{
    font-size: 16px;
    line-height: 19px;
    color: rgba(17, 17, 17, 0.75);
}
.brand-heading{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}
.timestamp{
    font-size: 16px;
    line-height: 26px;
    color: rgba(17, 17, 17, 0.5);
}
.brand-texts{
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(17, 17, 17, 0.75);
}

.count{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}
.reactions{
    /* width: 100%; */
}
.icon{
    margin: 4px;
}
.reply{
    margin-left: 20px;
}
.tag{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    float: right;
    color: rgba(17, 17, 17, 0.35);

}

.figure2 {
    height: 48px;
    width: 48px;
}

.profile-name{
    font-weight: bold;
    font-size: 18px;
    color: rgba(17, 17, 17, 0.75);
}

.comment-dis{
    position: relative;
    width: 100%;
    height: 100px;
}

.dis {
    font-size: 18px;
    line-height: 22px;
    color: #871E99;
    padding-right: 65px;
    padding-bottom: 30px;
}

.find{
    color: #871E99;
}
<<<<<<< HEAD:css1/styles.css
 .zili{
    display: flex;
    flex-direction: row;
    width: 100%;
} 
.pix-zili{
    height:100%;
    width: 100%;
    padding-right: none;
=======

.comment-2{
    margin-top: 35px;
}

.dis-acc{
    margin-top: 80px;
}

.follow{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #9179EF;
>>>>>>> 7ea120891b8869e7d318f96c813adfb8dc20b7d0:css/styles.css
}
/* Page 2 */
.blog{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-left: 18px;
}
.top{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.contributors{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.contrib{
    display: flex;
    flex-direction: column;
    padding:20px;
}
.boxed{
    background: #EEEEEE;
    border: 1px solid white;
    border-radius: 10px;
    width: 90%;
    height: 42px;
    max-width: 100%;
    margin: 10px;
}
.search{
    font-size: 16px;
    line-height: 19px;
    color: rgba(17, 17, 17, 0.5);
    margin: 5px;
    margin-top: 5px;
}

.topic-con{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(17, 17, 17, 0.75);
}

.pix{
    height: 10px;
    width: 10px;
}


/* checking the microphone */
html,body{
    background:#FFFFFF;
    font-family: 'Lato', sans-serif;
}
 .navbar{
    display: flex;
}
.navbar-nav{
    justify-content: right;
    float: right;
} 
.nav-item{
    margin: 10px;
}
figure {
    overflow: auto;
    margin-left: 10px;
}

figure img{
    float: left;
    margin: 0 1em 1em 0;
    height: 80px;
    width: 80px;
}


.profile-name{
    font-weight: bold;
    font-size: 22px;
}

.about{
    font-size: 16px;
}

.user-stats{
    font-size: 16px;
    font-weight: bold;
}
.comment-section{
    width: 100%;
}
.comment-brand{
    margin-left: 10px;
}
.comment-header{
    display: flex;
    flex-direction: row;
}
.comment-pix{
    height: 48px;
    width: 48px;
}
.brand-title{
    font-size: 16px;
    line-height: 19px;
    color: rgba(17, 17, 17, 0.75);
}
.brand-heading{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}
.timestamp{
    font-size: 16px;
    line-height: 26px;
    color: rgba(17, 17, 17, 0.5);
}
.brand-texts{
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(17, 17, 17, 0.75);
}

.count{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}
.reactions{
    width: 100%;
}
.icon{
    margin: 4px;
}
.reply{
    margin-left: 20px;
}
.tag{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    float: right;
    color: rgba(17, 17, 17, 0.35);

}

.figure2 {
    height: 48px;
    width: 48px;
}

.profile-name{
    font-weight: bold;
    font-size: 18px;
    color: rgba(17, 17, 17, 0.75);

}
  /* Page 2 */
.blog{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-left: 18px;
}
.top{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.contributors{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.contrib{
    display: flex;
    flex-direction: column;
    padding:20px;
}
.boxed{
    background: #EEEEEE;
    border: 1px solid white;
    border-radius: 10px;
    width: 90%;
    height: 42px;
    max-width: 100%;
    margin: 10px;
}
.search{
    font-size: 16px;
    line-height: 19px;
    color: rgba(17, 17, 17, 0.5);
    margin: 5px;
    margin-top: 5px;
}

.topic-con{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(17, 17, 17, 0.75);
}

.pix{
    height: 10px;
    width: 10px;
}
